body {
  background: #fff2ee;
  font-family: "Work Sans", sans-serif;
}
H1 {
  font-family: "Lora", serif;
  font-size: 3rem;
}
H2 {
  font-family: "Lora", serif;
  font-size: 2rem;
}
H3 {
  font-family: "Lora", serif;
  font-size: 1.5rem;
}
p {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
}
/*Typography*/

/* layout*/
.icon {
  display: flex;
  justify-content: flex-start;
  /* position: absolute;
  width: 280px; */
}
header {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #000; */
}

/* nav */
nav {
  display: flex;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  border-radius: 15px;
}
nav li {
  padding: 5px;
}
nav a {
  display: block;
  /* border-radius: 15px; */
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: #3f3f3f;
  /* background: #fff; */
  font-family: "Lora", serif;
  font-size: 1.2rem;
  padding: 10px;
}
nav a:hover {
  border-bottom: 1px solid #3f3f3f;
}

.burger {
  /* width: 25px;
  height: 5px;
  background-color: #fff;
  margin: 5px; */
  display: none;
  cursor: pointer;
}

/* container */

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  border: 3px solid #000;
}

.column {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}
.box {
  display: block;
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  margin: 0 auto;
}

.addressheading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marker {
  width: 20px;
  padding: 2rem;
}
.col-1 {
  width: 22.5%;
}
.col-2 {
  width: 45%;
}
.col-3 {
  width: 67.5%;
}

@media (max-width: 768px) {
  body {
    overflow: hidden;
  }
  .navlink {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5 ease-in;
    z-index: 1;
  }
  /* header {
    flex-direction: column;
    width: 100%;
  } */
  nav ul {
    flex-direction: column;
    justify-content: center;
  }
  .icon {
    display: flex;
    justify-content: center;
  }
  .burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
}
.nav-active {
  transform: translateX(0%);
}
#map {
  height: 600px;
  /* The height is 400 pixels */
  width: 90%;
  /* The width is the width of the web page */
  margin: 0 auto;
}
